In [16]:
import pandas as pd
import sqlite3

db_file = 'ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db'

def create_connection(db_file):
        conn = sqlite3.connect(db_file)
        cur = conn.cursor()
        cur.execute("Select name from sqlite_master where type = 'table'")
        return cur.fetchall()


    
create_connection(db_file)   

#we'll see if I even import it like this. By now...

[('personal_info',), ('country_info',), ('career_info',), ('poll_info',)]

In [1]:
%load_ext sql
%config SqlMagic.autocommit = False
%sql sqlite:///ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db

In [2]:
%%sql tables <<

select name
from sqlite_master
where type = 'table'

 * sqlite:///ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db
Done.
Returning data to local variable tables

In [3]:
tables

[('personal_info',), ('country_info',), ('career_info',), ('poll_info',)]

In [4]:
%%sql table1 <<

select country_info.country_code, career_info.normalized_job_code, country_info.rural 
from country_info
join career_info
on career_info.uuid = country_info.uuid

 * sqlite:///ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db
Done.
Returning data to local variable table1

In [5]:
data1 = table1.DataFrame()

data1.head()

  country_code               normalized_job_code        rural
0           AT                              None  countryside
1           AT  861a9b9151e11362eb3c77ca914172d0        urban
2           AT                              None         city
3           AT  049a3f3a2b5f85cb2971ba77ad66e10c      Country
4           AT  f4b2fb1aa40f661488e2782b6d57ad2f         city

In [25]:
#Making the  API

In [8]:
import requests

def response_api(job_code):
    return requests.get(f'http://api.dataatwork.org/v1/jobs/{job_code}').json().get('title')

In [10]:

def jobs_to_dict():
    job_codes_list = list(data1['normalized_job_code'].dropna().unique())
    return {job: response_api(job) for job in job_codes_list}

jobs_dict = jobs_to_dict()

data1['normalized_job_code'] = data1['normalized_job_code'].apply(lambda job: jobs_dict.get(job))

In [11]:
data1.head()

  country_code                normalized_job_code        rural
0           AT                               None  countryside
1           AT  Automatic Data Processing Planner        urban
2           AT                               None         city
3           AT                   Data Coordinator      Country
4           AT                 Database Developer         city

In [12]:
data1['rural'] = data1['rural'].str.lower()

data1['rural'] = data1['rural'].str.replace('city','urban').replace('non-rural','urban').replace('countryside','rural').replace('country', 'rural')


data1.head()

  country_code                normalized_job_code  rural
0           AT                               None  rural
1           AT  Automatic Data Processing Planner  urban
2           AT                               None  urban
3           AT                   Data Coordinator  rural
4           AT                 Database Developer  urban

In [1]:
import multiprocessing

multiprocessing.cpu_count()

2

In [72]:
import requests
from bs4 import BeautifulSoup
import lxml.html as lh
import re

In [79]:
url = 'https://iban.com/country-codes'
html = requests.get(url).content

soup = BeautifulSoup(html,'lxml')
table = soup.find(id = 'myTable').find_all(['tbody'])

table_list = list(table[0].find_all('td'))


def clean_list(name):
    name1 = re.sub('<td>', '', str(name))
    name2 = re.sub('</td>', '', str(name1))
    return name2

#table_dict = {table_list[i+1]: table_list[i] for i in range(0,len(table_list),4)}
clean_table_list = list(map(clean_list, table_list))

clean_table_list

['Afghanistan',
 'AF',
 'AFG',
 '004',
 'Åland Islands',
 'AX',
 'ALA',
 '248',
 'Albania',
 'AL',
 'ALB',
 '008',
 'Algeria',
 'DZ',
 'DZA',
 '012',
 'American Samoa',
 'AS',
 'ASM',
 '016',
 'Andorra',
 'AD',
 'AND',
 '020',
 'Angola',
 'AO',
 'AGO',
 '024',
 'Anguilla',
 'AI',
 'AIA',
 '660',
 'Antarctica',
 'AQ',
 'ATA',
 '010',
 'Antigua and Barbuda',
 'AG',
 'ATG',
 '028',
 'Argentina',
 'AR',
 'ARG',
 '032',
 'Armenia',
 'AM',
 'ARM',
 '051',
 'Aruba',
 'AW',
 'ABW',
 '533',
 'Australia',
 'AU',
 'AUS',
 '036',
 'Austria',
 'AT',
 'AUT',
 '040',
 'Azerbaijan',
 'AZ',
 'AZE',
 '031',
 'Bahamas (the)',
 'BS',
 'BHS',
 '044',
 'Bahrain',
 'BH',
 'BHR',
 '048',
 'Bangladesh',
 'BD',
 'BGD',
 '050',
 'Barbados',
 'BB',
 'BRB',
 '052',
 'Belarus',
 'BY',
 'BLR',
 '112',
 'Belgium',
 'BE',
 'BEL',
 '056',
 'Belize',
 'BZ',
 'BLZ',
 '084',
 'Benin',
 'BJ',
 'BEN',
 '204',
 'Bermuda',
 'BM',
 'BMU',
 '060',
 'Bhutan',
 'BT',
 'BTN',
 '064',
 'Bolivia (Plurinational State of)',
 'BO',
 'BOL',
 '068',
 'Bonaire, Sint Eustatius and Saba',
 'BQ',
 'BES',
 '535',
 'Bosnia and Herzegovina',
 'BA',
 'BIH',
 '070',
 'Botswana',
 'BW',
 'BWA',
 '072',
 'Bouvet Island',
 'BV',
 'BVT',
 '074',
 'Brazil',
 'BR',
 'BRA',
 '076',
 'British Indian Ocean Territory (the)',
 'IO',
 'IOT',
 '086',
 'Brunei Darussalam',
 'BN',
 'BRN',
 '096',
 'Bulgaria',
 'BG',
 'BGR',
 '100',
 'Burkina Faso',
 'BF',
 'BFA',
 '854',
 'Burundi',
 'BI',
 'BDI',
 '108',
 'Cabo Verde',
 'CV',
 'CPV',
 '132',
 'Cambodia',
 'KH',
 'KHM',
 '116',
 'Cameroon',
 'CM',
 'CMR',
 '120',
 'Canada',
 'CA',
 'CAN',
 '124',
 'Cayman Islands (the)',
 'KY',
 'CYM',
 '136',
 'Central African Republic (the)',
 'CF',
 'CAF',
 '140',
 'Chad',
 'TD',
 'TCD',
 '148',
 'Chile',
 'CL',
 'CHL',
 '152',
 'China',
 'CN',
 'CHN',
 '156',
 'Christmas Island',
 'CX',
 'CXR',
 '162',
 'Cocos (Keeling) Islands (the)',
 'CC',
 'CCK',
 '166',
 'Colombia',
 'CO',
 'COL',
 '170',
 'Comoros (the)',
 'KM',
 'COM',
 '174',
 'Congo (the Democratic Republic of the)',
 'CD',
 'COD',
 '180',
 'Congo (the)',
 'CG',
 'COG',
 '178',
 'Cook Islands (the)',
 'CK',
 'COK',
 '184',
 'Costa Rica',
 'CR',
 'CRI',
 '188',
 "Côte d'Ivoire",
 'CI',
 'CIV',
 '384',
 'Croatia',
 'HR',
 'HRV',
 '191',
 'Cuba',
 'CU',
 'CUB',
 '192',
 'Curaçao',
 'CW',
 'CUW',
 '531',
 'Cyprus',
 'CY',
 'CYP',
 '196',
 'Czechia',
 'CZ',
 'CZE',
 '203',
 'Denmark',
 'DK',
 'DNK',
 '208',
 'Djibouti',
 'DJ',
 'DJI',
 '262',
 'Dominica',
 'DM',
 'DMA',
 '212',
 'Dominican Republic (the)',
 'DO',
 'DOM',
 '214',
 'Ecuador',
 'EC',
 'ECU',
 '218',
 'Egypt',
 'EG',
 'EGY',
 '818',
 'El Salvador',
 'SV',
 'SLV',
 '222',
 'Equatorial Guinea',
 'GQ',
 'GNQ',
 '226',
 'Eritrea',
 'ER',
 'ERI',
 '232',
 'Estonia',
 'EE',
 'EST',
 '233',
 'Eswatini',
 'SZ',
 'SWZ',
 '748',
 'Ethiopia',
 'ET',
 'ETH',
 '231',
 'Falkland Islands (the) [Malvinas]',
 'FK',
 'FLK',
 '238',
 'Faroe Islands (the)',
 'FO',
 'FRO',
 '234',
 'Fiji',
 'FJ',
 'FJI',
 '242',
 'Finland',
 'FI',
 'FIN',
 '246',
 'France',
 'FR',
 'FRA',
 '250',
 'French Guiana',
 'GF',
 'GUF',
 '254',
 'French Polynesia',
 'PF',
 'PYF',
 '258',
 'French Southern Territories (the)',
 'TF',
 'ATF',
 '260',
 'Gabon',
 'GA',
 'GAB',
 '266',
 'Gambia (the)',
 'GM',
 'GMB',
 '270',
 'Georgia',
 'GE',
 'GEO',
 '268',
 'Germany',
 'DE',
 'DEU',
 '276',
 'Ghana',
 'GH',
 'GHA',
 '288',
 'Gibraltar',
 'GI',
 'GIB',
 '292',
 'Greece',
 'GR',
 'GRC',
 '300',
 'Greenland',
 'GL',
 'GRL',
 '304',
 'Grenada',
 'GD',
 'GRD',
 '308',
 'Guadeloupe',
 'GP',
 'GLP',
 '312',
 'Guam',
 'GU',
 'GUM',
 '316',
 'Guatemala',
 'GT',
 'GTM',
 '320',
 'Guernsey',
 'GG',
 'GGY',
 '831',
 'Guinea',
 'GN',
 'GIN',
 '324',
 'Guinea-Bissau',
 'GW',
 'GNB',
 '624',
 'Guyana',
 'GY',
 'GUY',
 '328',
 'Haiti',
 'HT',
 'HTI',
 '332',
 'Heard Island and McDonald Islands',
 'HM',
 'HMD',
 '334',
 'Holy See (the)',
 'VA',
 'VAT',
 '336',
 'Honduras',
 'HN',
 'HND',
 '340',
 'Hong Kong',
 'HK',
 'HKG',
 '344',
 'Hungary',
 'HU',
 'HUN',
 '348',
 'Iceland',
 'IS',
 'ISL',
 '352',
 'India',
 'IN',
 'IND',
 '356',
 'Indonesia',
 'ID',
 'IDN',
 '360',
 'Iran (Islamic Republic of)',
 'IR',
 'IRN',
 '364',
 'Iraq',
 'IQ',
 'IRQ',
 '368',
 'Ireland',
 'IE',
 'IRL',
 '372',
 'Isle of Man',
 'IM',
 'IMN',
 '833',
 'Israel',
 'IL',
 'ISR',
 '376',
 'Italy',
 'IT',
 'ITA',
 '380',
 'Jamaica',
 'JM',
 'JAM',
 '388',
 'Japan',
 'JP',
 'JPN',
 '392',
 'Jersey',
 'JE',
 'JEY',
 '832',
 'Jordan',
 'JO',
 'JOR',
 '400',
 'Kazakhstan',
 'KZ',
 'KAZ',
 '398',
 'Kenya',
 'KE',
 'KEN',
 '404',
 'Kiribati',
 'KI',
 'KIR',
 '296',
 "Korea (the Democratic People's Republic of)",
 'KP',
 'PRK',
 '408',
 'Korea (the Republic of)',
 'KR',
 'KOR',
 '410',
 'Kuwait',
 'KW',
 'KWT',
 '414',
 'Kyrgyzstan',
 'KG',
 'KGZ',
 '417',
 "Lao People's Democratic Republic (the)",
 'LA',
 'LAO',
 '418',
 'Latvia',
 'LV',
 'LVA',
 '428',
 'Lebanon',
 'LB',
 'LBN',
 '422',
 'Lesotho',
 'LS',
 'LSO',
 '426',
 'Liberia',
 'LR',
 'LBR',
 '430',
 'Libya',
 'LY',
 'LBY',
 '434',
 'Liechtenstein',
 'LI',
 'LIE',
 '438',
 'Lithuania',
 'LT',
 'LTU',
 '440',
 'Luxembourg',
 'LU',
 'LUX',
 '442',
 'Macao',
 'MO',
 'MAC',
 '446',
 'Republic of North Macedonia',
 'MK',
 'MKD',
 '807',
 'Madagascar',
 'MG',
 'MDG',
 '450',
 'Malawi',
 'MW',
 'MWI',
 '454',
 'Malaysia',
 'MY',
 'MYS',
 '458',
 'Maldives',
 'MV',
 'MDV',
 '462',
 'Mali',
 'ML',
 'MLI',
 '466',
 'Malta',
 'MT',
 'MLT',
 '470',
 'Marshall Islands (the)',
 'MH',
 'MHL',
 '584',
 'Martinique',
 'MQ',
 'MTQ',
 '474',
 'Mauritania',
 'MR',
 'MRT',
 '478',
 'Mauritius',
 'MU',
 'MUS',
 '480',
 'Mayotte',
 'YT',
 'MYT',
 '175',
 'Mexico',
 'MX',
 'MEX',
 '484',
 'Micronesia (Federated States of)',
 'FM',
 'FSM',
 '583',
 'Moldova (the Republic of)',
 'MD',
 'MDA',
 '498',
 'Monaco',
 'MC',
 'MCO',
 '492',
 'Mongolia',
 'MN',
 'MNG',
 '496',
 'Montenegro',
 'ME',
 'MNE',
 '499',
 'Montserrat',
 'MS',
 'MSR',
 '500',
 'Morocco',
 'MA',
 'MAR',
 '504',
 'Mozambique',
 'MZ',
 'MOZ',
 '508',
 'Myanmar',
 'MM',
 'MMR',
 '104',
 'Namibia',
 'NA',
 'NAM',
 '516',
 'Nauru',
 'NR',
 'NRU',
 '520',
 'Nepal',
 'NP',
 'NPL',
 '524',
 'Netherlands (the)',
 'NL',
 'NLD',
 '528',
 'New Caledonia',
 'NC',
 'NCL',
 '540',
 'New Zealand',
 'NZ',
 'NZL',
 '554',
 'Nicaragua',
 'NI',
 'NIC',
 '558',
 'Niger (the)',
 'NE',
 'NER',
 '562',
 'Nigeria',
 'NG',
 'NGA',
 '566',
 'Niue',
 'NU',
 'NIU',
 '570',
 'Norfolk Island',
 'NF',
 'NFK',
 '574',
 'Northern Mariana Islands (the)',
 'MP',
 'MNP',
 '580',
 'Norway',
 'NO',
 'NOR',
 '578',
 'Oman',
 'OM',
 'OMN',
 '512',
 'Pakistan',
 'PK',
 'PAK',
 '586',
 'Palau',
 'PW',
 'PLW',
 '585',
 'Palestine, State of',
 'PS',
 'PSE',
 '275',
 'Panama',
 'PA',
 'PAN',
 '591',
 'Papua New Guinea',
 'PG',
 'PNG',
 '598',
 'Paraguay',
 'PY',
 'PRY',
 '600',
 'Peru',
 'PE',
 'PER',
 '604',
 'Philippines (the)',
 'PH',
 'PHL',
 '608',
 'Pitcairn',
 'PN',
 'PCN',
 '612',
 'Poland',
 'PL',
 'POL',
 '616',
 'Portugal',
 'PT',
 'PRT',
 '620',
 'Puerto Rico',
 'PR',
 'PRI',
 '630',
 'Qatar',
 'QA',
 'QAT',
 '634',
 'Réunion',
 'RE',
 'REU',
 '638',
 'Romania',
 'RO',
 'ROU',
 '642',
 'Russian Federation (the)',
 'RU',
 'RUS',
 '643',
 'Rwanda',
 'RW',
 'RWA',
 '646',
 'Saint Barthélemy',
 'BL',
 'BLM',
 '652',
 'Saint Helena, Ascension and Tristan da Cunha',
 'SH',
 'SHN',
 '654',
 'Saint Kitts and Nevis',
 'KN',
 'KNA',
 '659',
 'Saint Lucia',
 'LC',
 'LCA',
 '662',
 'Saint Martin (French part)',
 'MF',
 'MAF',
 '663',
 'Saint Pierre and Miquelon',
 'PM',
 'SPM',
 '666',
 'Saint Vincent and the Grenadines',
 'VC',
 'VCT',
 '670',
 'Samoa',
 'WS',
 'WSM',
 '882',
 'San Marino',
 'SM',
 'SMR',
 '674',
 'Sao Tome and Principe',
 'ST',
 'STP',
 '678',
 'Saudi Arabia',
 'SA',
 'SAU',
 '682',
 'Senegal',
 'SN',
 'SEN',
 '686',
 'Serbia',
 'RS',
 'SRB',
 '688',
 'Seychelles',
 'SC',
 'SYC',
 '690',
 'Sierra Leone',
 'SL',
 'SLE',
 '694',
 'Singapore',
 'SG',
 'SGP',
 '702',
 'Sint Maarten (Dutch part)',
 'SX',
 'SXM',
 '534',
 'Slovakia',
 'SK',
 'SVK',
 '703',
 'Slovenia',
 'SI',
 'SVN',
 '705',
 'Solomon Islands',
 'SB',
 'SLB',
 '090',
 'Somalia',
 'SO',
 'SOM',
 '706',
 'South Africa',
 'ZA',
 'ZAF',
 '710',
 'South Georgia and the South Sandwich Islands',
 'GS',
 'SGS',
 '239',
 'South Sudan',
 'SS',
 'SSD',
 '728',
 'Spain',
 'ES',
 'ESP',
 '724',
 'Sri Lanka',
 'LK',
 'LKA',
 '144',
 'Sudan (the)',
 'SD',
 'SDN',
 '729',
 'Suriname',
 'SR',
 'SUR',
 '740',
 'Svalbard and Jan Mayen',
 'SJ',
 'SJM',
 '744',
 'Sweden',
 'SE',
 'SWE',
 '752',
 'Switzerland',
 'CH',
 'CHE',
 '756',
 'Syrian Arab Republic',
 'SY',
 'SYR',
 '760',
 'Taiwan (Province of China)',
 'TW',
 'TWN',
 '158',
 'Tajikistan',
 'TJ',
 'TJK',
 '762',
 'Tanzania, United Republic of',
 'TZ',
 'TZA',
 '834',
 'Thailand',
 'TH',
 'THA',
 '764',
 'Timor-Leste',
 'TL',
 'TLS',
 '626',
 'Togo',
 'TG',
 'TGO',
 '768',
 'Tokelau',
 'TK',
 'TKL',
 '772',
 'Tonga',
 'TO',
 'TON',
 '776',
 'Trinidad and Tobago',
 'TT',
 'TTO',
 '780',
 'Tunisia',
 'TN',
 'TUN',
 '788',
 'Turkey',
 'TR',
 'TUR',
 '792',
 'Turkmenistan',
 'TM',
 'TKM',
 '795',
 'Turks and Caicos Islands (the)',
 'TC',
 'TCA',
 '796',
 'Tuvalu',
 'TV',
 'TUV',
 '798',
 'Uganda',
 'UG',
 'UGA',
 '800',
 'Ukraine',
 'UA',
 'UKR',
 '804',
 'United Arab Emirates (the)',
 'AE',
 'ARE',
 '784',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'GB',
 'GBR',
 '826',
 'United States Minor Outlying Islands (the)',
 'UM',
 'UMI',
 '581',
 'United States of America (the)',
 'US',
 'USA',
 '840',
 'Uruguay',
 'UY',
 'URY',
 '858',
 'Uzbekistan',
 'UZ',
 'UZB',
 '860',
 'Vanuatu',
 'VU',
 'VUT',
 '548',
 'Venezuela (Bolivarian Republic of)',
 'VE',
 'VEN',
 '862',
 'Viet Nam',
 'VN',
 'VNM',
 '704',
 'Virgin Islands (British)',
 'VG',
 'VGB',
 '092',
 'Virgin Islands (U.S.)',
 'VI',
 'VIR',
 '850',
 'Wallis and Futuna',
 'WF',
 'WLF',
 '876',
 'Western Sahara',
 'EH',
 'ESH',
 '732',
 'Yemen',
 'YE',
 'YEM',
 '887',
 'Zambia',
 'ZM',
 'ZMB',
 '894',
 'Zimbabwe',
 'ZW',
 'ZWE',
 '716']

In [69]:
test = table_list

lst = []
for i in test:
    i = re.sub('<td>','',str(i))
    i = re.sub('</td>','',str(i))
    lst.append(i)

In [71]:
table_dict2 = {lst[i+1]: lst[i] for i in range(0,len(lst),4)}

table_dict2

{'AF': 'Afghanistan',
 'AX': 'Åland Islands',
 'AL': 'Albania',
 'DZ': 'Algeria',
 'AS': 'American Samoa',
 'AD': 'Andorra',
 'AO': 'Angola',
 'AI': 'Anguilla',
 'AQ': 'Antarctica',
 'AG': 'Antigua and Barbuda',
 'AR': 'Argentina',
 'AM': 'Armenia',
 'AW': 'Aruba',
 'AU': 'Australia',
 'AT': 'Austria',
 'AZ': 'Azerbaijan',
 'BS': 'Bahamas (the)',
 'BH': 'Bahrain',
 'BD': 'Bangladesh',
 'BB': 'Barbados',
 'BY': 'Belarus',
 'BE': 'Belgium',
 'BZ': 'Belize',
 'BJ': 'Benin',
 'BM': 'Bermuda',
 'BT': 'Bhutan',
 'BO': 'Bolivia (Plurinational State of)',
 'BQ': 'Bonaire, Sint Eustatius and Saba',
 'BA': 'Bosnia and Herzegovina',
 'BW': 'Botswana',
 'BV': 'Bouvet Island',
 'BR': 'Brazil',
 'IO': 'British Indian Ocean Territory (the)',
 'BN': 'Brunei Darussalam',
 'BG': 'Bulgaria',
 'BF': 'Burkina Faso',
 'BI': 'Burundi',
 'CV': 'Cabo Verde',
 'KH': 'Cambodia',
 'CM': 'Cameroon',
 'CA': 'Canada',
 'KY': 'Cayman Islands (the)',
 'CF': 'Central African Republic (the)',
 'TD': 'Chad',
 'CL': 'Chile',
 'CN': 'China',
 'CX': 'Christmas Island',
 'CC': 'Cocos (Keeling) Islands (the)',
 'CO': 'Colombia',
 'KM': 'Comoros (the)',
 'CD': 'Congo (the Democratic Republic of the)',
 'CG': 'Congo (the)',
 'CK': 'Cook Islands (the)',
 'CR': 'Costa Rica',
 'CI': "Côte d'Ivoire",
 'HR': 'Croatia',
 'CU': 'Cuba',
 'CW': 'Curaçao',
 'CY': 'Cyprus',
 'CZ': 'Czechia',
 'DK': 'Denmark',
 'DJ': 'Djibouti',
 'DM': 'Dominica',
 'DO': 'Dominican Republic (the)',
 'EC': 'Ecuador',
 'EG': 'Egypt',
 'SV': 'El Salvador',
 'GQ': 'Equatorial Guinea',
 'ER': 'Eritrea',
 'EE': 'Estonia',
 'SZ': 'Eswatini',
 'ET': 'Ethiopia',
 'FK': 'Falkland Islands (the) [Malvinas]',
 'FO': 'Faroe Islands (the)',
 'FJ': 'Fiji',
 'FI': 'Finland',
 'FR': 'France',
 'GF': 'French Guiana',
 'PF': 'French Polynesia',
 'TF': 'French Southern Territories (the)',
 'GA': 'Gabon',
 'GM': 'Gambia (the)',
 'GE': 'Georgia',
 'DE': 'Germany',
 'GH': 'Ghana',
 'GI': 'Gibraltar',
 'GR': 'Greece',
 'GL': 'Greenland',
 'GD': 'Grenada',
 'GP': 'Guadeloupe',
 'GU': 'Guam',
 'GT': 'Guatemala',
 'GG': 'Guernsey',
 'GN': 'Guinea',
 'GW': 'Guinea-Bissau',
 'GY': 'Guyana',
 'HT': 'Haiti',
 'HM': 'Heard Island and McDonald Islands',
 'VA': 'Holy See (the)',
 'HN': 'Honduras',
 'HK': 'Hong Kong',
 'HU': 'Hungary',
 'IS': 'Iceland',
 'IN': 'India',
 'ID': 'Indonesia',
 'IR': 'Iran (Islamic Republic of)',
 'IQ': 'Iraq',
 'IE': 'Ireland',
 'IM': 'Isle of Man',
 'IL': 'Israel',
 'IT': 'Italy',
 'JM': 'Jamaica',
 'JP': 'Japan',
 'JE': 'Jersey',
 'JO': 'Jordan',
 'KZ': 'Kazakhstan',
 'KE': 'Kenya',
 'KI': 'Kiribati',
 'KP': "Korea (the Democratic People's Republic of)",
 'KR': 'Korea (the Republic of)',
 'KW': 'Kuwait',
 'KG': 'Kyrgyzstan',
 'LA': "Lao People's Democratic Republic (the)",
 'LV': 'Latvia',
 'LB': 'Lebanon',
 'LS': 'Lesotho',
 'LR': 'Liberia',
 'LY': 'Libya',
 'LI': 'Liechtenstein',
 'LT': 'Lithuania',
 'LU': 'Luxembourg',
 'MO': 'Macao',
 'MK': 'Republic of North Macedonia',
 'MG': 'Madagascar',
 'MW': 'Malawi',
 'MY': 'Malaysia',
 'MV': 'Maldives',
 'ML': 'Mali',
 'MT': 'Malta',
 'MH': 'Marshall Islands (the)',
 'MQ': 'Martinique',
 'MR': 'Mauritania',
 'MU': 'Mauritius',
 'YT': 'Mayotte',
 'MX': 'Mexico',
 'FM': 'Micronesia (Federated States of)',
 'MD': 'Moldova (the Republic of)',
 'MC': 'Monaco',
 'MN': 'Mongolia',
 'ME': 'Montenegro',
 'MS': 'Montserrat',
 'MA': 'Morocco',
 'MZ': 'Mozambique',
 'MM': 'Myanmar',
 'NA': 'Namibia',
 'NR': 'Nauru',
 'NP': 'Nepal',
 'NL': 'Netherlands (the)',
 'NC': 'New Caledonia',
 'NZ': 'New Zealand',
 'NI': 'Nicaragua',
 'NE': 'Niger (the)',
 'NG': 'Nigeria',
 'NU': 'Niue',
 'NF': 'Norfolk Island',
 'MP': 'Northern Mariana Islands (the)',
 'NO': 'Norway',
 'OM': 'Oman',
 'PK': 'Pakistan',
 'PW': 'Palau',
 'PS': 'Palestine, State of',
 'PA': 'Panama',
 'PG': 'Papua New Guinea',
 'PY': 'Paraguay',
 'PE': 'Peru',
 'PH': 'Philippines (the)',
 'PN': 'Pitcairn',
 'PL': 'Poland',
 'PT': 'Portugal',
 'PR': 'Puerto Rico',
 'QA': 'Qatar',
 'RE': 'Réunion',
 'RO': 'Romania',
 'RU': 'Russian Federation (the)',
 'RW': 'Rwanda',
 'BL': 'Saint Barthélemy',
 'SH': 'Saint Helena, Ascension and Tristan da Cunha',
 'KN': 'Saint Kitts and Nevis',
 'LC': 'Saint Lucia',
 'MF': 'Saint Martin (French part)',
 'PM': 'Saint Pierre and Miquelon',
 'VC': 'Saint Vincent and the Grenadines',
 'WS': 'Samoa',
 'SM': 'San Marino',
 'ST': 'Sao Tome and Principe',
 'SA': 'Saudi Arabia',
 'SN': 'Senegal',
 'RS': 'Serbia',
 'SC': 'Seychelles',
 'SL': 'Sierra Leone',
 'SG': 'Singapore',
 'SX': 'Sint Maarten (Dutch part)',
 'SK': 'Slovakia',
 'SI': 'Slovenia',
 'SB': 'Solomon Islands',
 'SO': 'Somalia',
 'ZA': 'South Africa',
 'GS': 'South Georgia and the South Sandwich Islands',
 'SS': 'South Sudan',
 'ES': 'Spain',
 'LK': 'Sri Lanka',
 'SD': 'Sudan (the)',
 'SR': 'Suriname',
 'SJ': 'Svalbard and Jan Mayen',
 'SE': 'Sweden',
 'CH': 'Switzerland',
 'SY': 'Syrian Arab Republic',
 'TW': 'Taiwan (Province of China)',
 'TJ': 'Tajikistan',
 'TZ': 'Tanzania, United Republic of',
 'TH': 'Thailand',
 'TL': 'Timor-Leste',
 'TG': 'Togo',
 'TK': 'Tokelau',
 'TO': 'Tonga',
 'TT': 'Trinidad and Tobago',
 'TN': 'Tunisia',
 'TR': 'Turkey',
 'TM': 'Turkmenistan',
 'TC': 'Turks and Caicos Islands (the)',
 'TV': 'Tuvalu',
 'UG': 'Uganda',
 'UA': 'Ukraine',
 'AE': 'United Arab Emirates (the)',
 'GB': 'United Kingdom of Great Britain and Northern Ireland (the)',
 'UM': 'United States Minor Outlying Islands (the)',
 'US': 'United States of America (the)',
 'UY': 'Uruguay',
 'UZ': 'Uzbekistan',
 'VU': 'Vanuatu',
 'VE': 'Venezuela (Bolivarian Republic of)',
 'VN': 'Viet Nam',
 'VG': 'Virgin Islands (British)',
 'VI': 'Virgin Islands (U.S.)',
 'WF': 'Wallis and Futuna',
 'EH': 'Western Sahara',
 'YE': 'Yemen',
 'ZM': 'Zambia',
 'ZW': 'Zimbabwe'}