In [11]:
import pandas as pd

In [99]:
data = pd.read_csv('../data/processed/clean_rural_info.csv')

group_data = data.groupby(['Country','Job_name','Rural'], as_index=False).count()

    
group_data['Percentage'] = group_data['Quantity'].apply(lambda qtty: str((qtty*100/group_data['Quantity'].sum()).round(2))+'%')

group_data[group_data['Country']=='Austria']

,Country,Job_name,Rural,Quantity,Percentage
0,Austria,Automatic Data Processing Customer Liaison (AD...,rural,1,0.02%
1,Austria,Automatic Data Processing Customer Liaison (AD...,urban,1,0.02%
2,Austria,Automatic Data Processing Planner,rural,1,0.02%
3,Austria,Automatic Data Processing Planner,urban,1,0.02%
4,Austria,Automatic Data Processing Systems Security Spe...,rural,1,0.02%
...,...,...,...,...,...
56,Austria,Geographic Information Systems Database Admini...,urban,3,0.05%
57,Austria,Internet Database Specialist,rural,1,0.02%
58,Austria,Maintenance Data Analyst,urban,1,0.02%
59,Austria,Naval Tactical Data System--Combat Information...,rural,1,0.02%
60,Austria,Naval Tactical Data System--Combat Information...,urban,1,0.02%

In [82]:
group_data['Quantity'].sum()

5702